<aside id="sidebar">
    <div class="profile">
        <div class="avatar-container">
            <img src="{{ site.baseurl }}/assets/avatar.png" alt="Avatar" class="avatar">
        </div>
        <h2>caulk94</h2>
        <p class="tagline">oks</p>
    </div>

    <nav class="main-nav">
        <a href="{{ site.baseurl }}/index.html" class="nav-item {% if page.title == "Home" %}active{% endif %}"><i class="fas fa-home"></i> Home</a>
        <a href="{{ site.baseurl }}/hackthebox.html" class="nav-item {% if page.title == "HackTheBox" %}active{% endif %}"><i class="fas fa-folder-open"></i> HackTheBox</a>
        <a href="{{ site.baseurl }}/about.html" class="nav-item {% if page.title == "About" %}active{% endif %}"><i class="fas fa-info-circle"></i> About</a>
    </nav>
</aside>